<%- include('includes/header.ejs') %>

<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.min.css"
/>
<link rel="stylesheet" href="/css/selectize.default.css"/>
<link rel="stylesheet" href="/library/toastr/build/toastr.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<link rel="stylesheet" href="/css/style.css"/>
<link rel="stylesheet" href="/css/rooms.css"/>
</head>
<body>
<div class="container__room">
    <div class="container clearfix align-self-center">
        <div class="header-main">
            <div class="logo-image">
                <img class="logo-image" src="/img/mariana_200x200.png"/>
            </div>
            <% if (user != null ) { %>
            <div class="dropdown">
                <div class="user_avatar_parent d-flex flex-row align-content-center">
                    <img src="<%=user.avatar%>" class="user__avatar" alt="Avatar">
                  <div class="d-flex align-content-center">
                      <p class="my-auto ml-2"><%=user.username%></p>
                  </div>
                </div>
                <div class="dropdown-menu-user">
                <ul class="list-group">
                    <li class="ant-dropdown-menu-item" role="menuitem">
                        <a href="/users/me/info" class="text-decoration-none">
                            <i aria-label="icon: user">
                                <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="user" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                    <path d="M858.5 763.6a374 374 0 0 0-80.6-119.5 375.63 375.63 0 0 0-119.5-80.6c-.4-.2-.8-.3-1.2-.5C719.5 518 760 444.7 760 362c0-137-111-248-248-248S264 225 264 362c0 82.7 40.5 156 102.8 201.1-.4.2-.8.3-1.2.5-44.8 18.9-85 46-119.5 80.6a375.63 375.63 0 0 0-80.6 119.5A371.7 371.7 0 0 0 136 901.8a8 8 0 0 0 8 8.2h60c4.4 0 7.9-3.5 8-7.8 2-77.2 33-149.5 87.8-204.3 56.7-56.7 132-87.9 212.2-87.9s155.5 31.2 212.2 87.9C779 752.7 810 825 812 902.2c.1 4.4 3.6 7.8 8 7.8h60a8 8 0 0 0 8-8.2c-1-47.8-10.9-94.3-29.5-138.2zM512 534c-45.9 0-89.1-17.9-121.6-50.4S340 407.9 340 362c0-45.9 17.9-89.1 50.4-121.6S466.1 190 512 190s89.1 17.9 121.6 50.4S684 316.1 684 362c0 45.9-17.9 89.1-50.4 121.6S557.9 534 512 534z"></path>
                                </svg>
                            </i> User Profile</a>
                    </li>
                    <li class="ant-dropdown-menu-item" role="menuitem">
                        <a href="/auth/logout" class="text-decoration-none">
                        <i aria-label="icon: logout">
                            <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="logout" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                <path d="M868 732h-70.3c-4.8 0-9.3 2.1-12.3 5.8-7 8.5-14.5 16.7-22.4 24.5a353.84 353.84 0 0 1-112.7 75.9A352.8 352.8 0 0 1 512.4 866c-47.9 0-94.3-9.4-137.9-27.8a353.84 353.84 0 0 1-112.7-75.9 353.28 353.28 0 0 1-76-112.5C167.3 606.2 158 559.9 158 512s9.4-94.2 27.8-137.8c17.8-42.1 43.4-80 76-112.5s70.5-58.1 112.7-75.9c43.6-18.4 90-27.8 137.9-27.8 47.9 0 94.3 9.3 137.9 27.8 42.2 17.8 80.1 43.4 112.7 75.9 7.9 7.9 15.3 16.1 22.4 24.5 3 3.7 7.6 5.8 12.3 5.8H868c6.3 0 10.2-7 6.7-12.3C798 160.5 663.8 81.6 511.3 82 271.7 82.6 79.6 277.1 82 516.4 84.4 751.9 276.2 942 512.4 942c152.1 0 285.7-78.8 362.3-197.7 3.4-5.3-.4-12.3-6.7-12.3zm88.9-226.3L815 393.7c-5.3-4.2-13-.4-13 6.3v76H488c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h314v76c0 6.7 7.8 10.5 13 6.3l141.9-112a8 8 0 0 0 0-12.6z"> </path>
                            </svg>
                        </i>
                             Logout
                        </a>
                    </li>
                </ul>
                </div>
            </div>

            <% } %>
        </div>
        <div>
            <p class="main-title">Learning Talking Community</p>
        </div>
        <!-- end room-header -->
        <div class="d-flex flex-row">
                <button class="btn btn-success btn-create-room" onclick="showCreateModal()">
                    <i class="material-icons icon__new__room">&#xE147;</i>
                     New room
                </button>
            <!-- end room-create -->
        <% if (user.role === 3) { %>
                    <a href="/users/all" class="btn btn-success btn-create-room">User Manager</a>
        <% } %>
        </div>

        <div class="input-group room-search">
            <div class="for__search d-flex col-12">
                <input
                        type="text"
                        onchange="searchEvent()"
                        id="search_room_input"
                        class="form-control input__search"
                        placeholder="Search room"
                        aria-label="Recipient's username"
                        aria-describedby="basic-addon2"
                />

                    <a
                            href="?search"
                            id="search_room_button"
                            class="input-group-append a-search"
                            style="height: fit-content;"
                    >
                      <i class="fa fa-search"></i>
                </a>

            </div>
        </div>
        <div class="room-num-rooms"><%= rooms.length %> Room(s)</div>

        <div class="col-xs-12 room-list">
            <% if(rooms.length > 0) { %> <% rooms.forEach(function(room) { %>
                <div class="card card-room" id="<%= room._id %>">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="room-topic">
                                <p>
                                    Topic:
                                    <%= (room.name.length > 25 ? room.name.substr(0, 25) + '...' : room.name) %>
                                    <% if(room.creator.toString() === user._id.toString())  { %>
                                </p>
                                <i class="fa fa-cog "
                                   aria-hidden="true"
                                   onclick="showEditModal('<%= room._id %>')"
                                   style="color:#495c68;cursor:pointer">
                                </i>
                                <% } %>
                            </div>
                            <div class="list-user-avatar">
                                <div class="card-user__avatar">
                                    <% if (room.avatars.length > 0) { room.avatars.forEach(avatar => {%>
                                    <img src="<%=avatar%>" class="user__avatar_in_card">
                                    <%})}%>
                                </div>

                            </div>

                        </div>
                        <footer>
                            <% if (room.status === 'active' ) { %>
                            <div class="card-room-status">
                                <a class="card-link" href="/chat/<%= room._id %>">
                                    <p class="card-text room-title__active">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        Join and talk now
                                    </p>
                                </a>
                            </div>
                            <% } else if (room.status === 'full') { %>
                                <div class="card-room-status">
                                <p class="card-text room-title__full">
                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                    This room is full
                                </p>
                                </div>
                            <% } else if (room.status === 'auth') { %>
                                <div class="card-room-status">
                                <p class="card-text room-title__active"
                                   onclick="showEnterPasswordModal('<%= room._id %>')">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    Enter password and join
                                </p>
                                </div>
                            <% } %>
                        </footer>
                    </div>
                </div>

            <% }); %>
            <% } %>
        </div>
        <!-- end room-list -->
    </div>
    <!-- end room -->
    <!-- Modal edit and create -->
    <div
            class="modal fade"
            id="form_room"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="modalHeader">Create Account</h5>
                    <button
                            type="button"
                            id="closeBtn"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="topic">Topic</label>
                            <input type="text" class="form-control" name="topic" placeholder="Any topic"/>
                        </div>
                        <div class="form-group">
                            <label for="selectMaxPeople">Maximum peoples</label>
                            <select class="form-control" id="selectMaxPeople" name="quantity">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="selectLevels">Level</label>
                            <select class="form-control" id="selectLevels" name="level">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" name="password" placeholder=""/>
                        </div>
                        <input type="hidden" name="room_id"/>
                    </div>

                    <div class="modal-footer border-top-0 d-flex">
                        <button
                                type="button"
                                class="btn btn-danger"
                                style="margin-right: 52%"
                                id="delete_room"
                        >
                            Delete
                        </button>
                        <div class="justify-content-end">
                            <button type="submit" class="btn btn-success" id="submit_room">Submit</button>
                            <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                    id="cancel_room"
                            >
                                Close
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal edit -->
    <!-- Modal enter password and join room -->
    <div
            class="modal fade"
            id="form_join_room"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="modalHeader">Enter password to join room</h5>
                    <button
                            type="button"
                            id="closeBtnJoin"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="get" action="/chat/join">
                    <div class="modal-body">
                        <input type="hidden" name="join_room_id"/>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" name="room_password" placeholder="" required/>
                        </div>
                    </div>
                    <div class="modal-footer border-top-0 d-flex">
                        <div class="justify-content-end">
                            <button type="submit" class="btn btn-success" id="submit_join_room">Join</button>
                            <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                    id="cancel_join_room"
                            >
                                Close
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</div>
<!-- end container -->
<%- include('includes/end.ejs') %>

<script src="/js/main.js"></script>
<script>
    $(function () {
        app.rooms('<%= user._id %>');
    });
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/room.js"></script>
</body>
</html>
