<%- include('includes/header.ejs') %>

<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.min.css"
/>
<link rel="stylesheet" href="/css/selectize.default.css"/>
<link rel="stylesheet" href="/library/toastr/build/toastr.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<link rel="stylesheet" href="/css/user-info.css"/>
</head>
<body>
<div class="container">
    <div class="main__user__info">
        <div class="">
            <h2>User profile</h2>
                    <div class="col-12">
                       <img src="<%= user.avatar%>" class="avatar__user__info">
                    </div>
                        <div class="form-group">
                            <label for="username">Username: <%= user.username%> </label>
                        </div>
                        <div class="form-group">
                            <label for="email">Email: <%= user.email%> </label>
                        </div>
                        <div class="form-group">
                            <label for="status">Status: <% if(user.status === 1) { %>
                                   Active
                                <%}%>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="status">Role:

                                <% if(user.role === 1) { %>
                                Member
                                <% } else if (user.role === 3) { %>
                                Admin
                                <%}%>

                            </label>
                         </div>

                <div class="row">
                    <div class="col-12">
                        <div class="row justify-content-end mr-2">
                            <button
                                    class="btn btn-success"
                                    type="submit"
                                    onclick="showEditUser('<%= user._id %>', '<%= user.status %>')"
                            > Edit
                            </button>
                            <button
                                    class="btn btn-secondary btn-cancel ml-3"
                                    id="btn_back_to_home"
                                    type="button"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- Modal edit and create -->
    <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="modalHeader">Create Account</h5>
                    <button type="button" id="closeBtn" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" required name="email" placeholder="Email">
                        </div>
                        <div class="form-group" hidden>
                            <label for="role">Role</label>
                            <select class="form-control"  id="role" name="role">
                                <option value="1">Member</option>
                                <option value="3">Admin</option>
                            </select>
                        </div>
                        <div id="old-password"></div>
                        <div class="form-group" >
                            <label id="label_psw">Password</label>
                            <input type="password" class="form-control" name="newPassword" placeholder="Password">
                        </div>
                        <input type="hidden" name="user_id">
                        <input type="hidden" name="avatar">
                        <input id="inp" type='file'>
                    </div>

                    <div class="modal-footer border-top-0 d-flex">
                        <div class=" justify-content-end">
                            <button type="submit" class="btn btn-success" id="submit_user">Submit</button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close" id="cancel_user">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Modal -->

</div>
<!-- end container -->
<%- include('includes/end.ejs') %>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/user-info.js"></script>
</body>
</html>
